
    <%- include ("./layout/header") %> <%- include ("./layout/menu") %>

    <main class="sec clear-main">
     
      <%- include ("./layout/accordion") %>
      <%- include ("./layout/sidebarMoviesToday") %>
      
    </main>
    
    <%- include ("./layout/footer") %>
  </body>
  </html>
  