<%- include ("./layout/header") %> <%- include ("./layout/menu") %>
    <main class="sec">
      <article class="movie sec-cont">
        <div>
        <h1 class="title"><%- title %></h1>
      </div>
        <div class="movie-text">
          <img src="<%- image %>" alt="movie image" class="movie-img">
        <p class="intro"><%- intro %></p>
      </div>
      </article>
    </main>
    <%- include ("./layout/footer") %>
  
  </body>
  </html>
