<div class="sec-cont">
  <!-- Movie Accordion -->
  <section class="accordion-cont">
    <!-- Next / Before Buttons -->
    <button class="slide-btn prev">
      <img src="static/images/arrow-left-circle.svg" alt="previosly movie" />
    </button>
    <button class="slide-btn next">
      <img src="static/images/arrow-right-circle.svg" alt="next movie" />
    </button>

    <!-- Sliders -->
    <div class="slider">
      <section class="slide" id="first-slide">
        <div class="slide-content">
          <h2><%= movieTitle0 %></h2>
          <h3>SUBTITLE</h3>
          <a href="/" class="slide-btn">Biljetter</a>
        </div>
        <img src="<%= movieImage0 %>" alt="movie banner" />
      </section>

      <section class="slide">
        <div class="slide-content">
          <h2><%= movieTitle1 %></h2>
          <h3>SUBTITLE</h3>
          <a href="/" class="slide-btn">Biljetter</a>
        </div>
        <img src="<%= movieImage1 %>" alt="movie banner" />
      </section>
      <section class="slide">
        <div class="slide-content">
          <h2><%= movieTitle2 %></h2>
          <h3>SUBTITLE</h3>
          <a href="/" class="slide-btn">Biljetter</a>
        </div>
        <img src="<%= movieImage2 %>" alt="movie banner" />
      </section>
      <section class="slide">
        <div class="slide-content">
          <h2><%= movieTitle3 %></h2>
          <h3>SUBTITLE</h3>
          <a href="/" class="slide-btn">Biljetter</a>
        </div>
        <img src="<%= movieImage3 %>" alt="movie banner" />
      </section>
    </div>
  </section>
</div>
<script src="src/JS/accordion.js" defer></script>
